html,
body,
* {
  box-sizing: border-box;
}

td {
  border: solid 1px dimgray;
  padding: 0.5em;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgba(240, 240, 250, 1);
}

input {
  width: calc(100% - 8px);
  margin: 4px;
}

table {
  border-collapse: collapse;
}

.elm-derive-type {
  margin: 8px;
  margin-left: 16px;
  border: solid 1px grey;
}

.elm-derive-variant {
  margin-bottom: 4px;
  padding: 4px;
}

.elm-derive-variant-0 {
  background-color: rgb(182, 224, 192);
}

.elm-derive-variant-1 {
  background-color: rgb(219, 204, 184);
}

.elm-derive-variant-2 {
  background-color: rgb(189, 188, 236);
}

.elm-derive-variant-3 {
  background-color: rgb(233, 179, 186);
}
