td {
  border: solid 1px dimgray;
  padding: 0.5em;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgba(240, 240, 250, 1);
}

input {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.elm-derive-type {
  padding: 1em;
  margin-left: 1em;
  border: solid 1px grey;
}
