pre {
  padding: 1em;
  font-size: 14px;
  font-family: "Fira Code", monospace;

  background-color: #222;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #282c34;
}

.root {
  display: flex;
}

.root > * {
  width: 50vw;
}

pre {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
}

code,
textarea {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
}

.elmsh-line {
  height: 21px;
}

.generated pre.elmsh {
  min-height: 100vh;
}

.left {
  & > * {
    left: 0;
    top: 0;
    width: 50vw;
  }

  textarea {
    overflow: scroll;
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    white-space: pre;

    padding: 1em;
    resize: none;

    border: none;
    outline: none;

    font-family: "Fira Code", monospace;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0;

    background-color: #282c34;
    color: #dddddd;
  }
}

.right {
  .generated {
    height: 100vh;
    overflow: scroll;
  }
}

.syntactic-error {
  min-height: 100vh;
  background-color: #282c34;
}

.generation-error {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 47px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 73px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
